
<div class="home">
    <h4>BUILT TO PERFORM </h4>
    <h1>Your Proven</h1> <h1>Asset Finance</h1><h1>Solution</h1>
    <p>FinEdge is a cutting-edge fintech startup</p>
    <p>focused on transforming cross-border payments.</p> 
    <p>They believe in a world where geographic boundaries</p> 
    <p>should not limit individuals and businesses</p> 
    <p>from making seamless transactions.</p>
</div>


<style>
    h1{
        font-family: 'Times New Roman', Times, serif;
        align-items: first baseline;
    }
    p{
        font-family: 'Times New Roman', Times, serif;
        font-size: larger;
        
    }
    h4{
    
        font-family: 'Times New Roman', Times, serif;
    }
    .home{
        text-align: center;
    }

</style>